  <div class="page-header">
  <h1 style="margin-bottom: 30px;margin-top: 30px;">Manage Treatments</h1>

  <!-- Show Add Doctor button only when form is hidden -->
  <button class="pre-btn"
    mat-raised-button
    color="primary"
    *ngIf="!showAddForm"
    (click)="showAddForm = true">
    <mat-icon>add</mat-icon>
    Add Treatment
  </button>
</div>

<!-- ADD TREATMENT FORM (Hidden initially) -->
<mat-card class="doctor-card" *ngIf="showAddForm">

  <div class="card-header">
    <div>
      <h2>👨‍⚕️ Add treatments</h2>
    </div>

    <!-- Close form button -->
    <button mat-icon-button (click)="showAddForm = false">
      <mat-icon>close</mat-icon>
    </button>
  </div>

 <form [formGroup]="form">

      <mat-form-field appearance="outline">
        <mat-label>Treatment Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Duration (minutes)</mat-label>
        <input matInput type="number" formControlName="duration">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput rows="2" formControlName="description"></textarea>
      </mat-form-field>

    </form>
</mat-card>

<!-- DOCTORS TABLE (Always visible) -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- NAME -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let t">{{ t.name }}</td>
  </ng-container>

  <!-- DURATION -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration (min)</th>
    <td mat-cell *matCellDef="let t">{{ t.duration }}</td>
  </ng-container>

  <!-- PRICE -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let t">{{ t.price }}</td>
  </ng-container>

  <!-- ACTION -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let t">
      <button mat-button color="warn" (click)="deleteTreatment(t._id)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons>
</mat-paginator>

