<section class="services" id="services">

  <h1 class="heading" data-aos="fade-up">Our Services</h1>

  <div class="box-container">

    <div class="box" data-aos="zoom-in" data-aos-delay="100">
     <img src="assets/services-1.webp" alt="">
      <h3>Online Appointment Scheduling</h3>
      <p>
        Book your dental visits anytime with our fast and convenient online
        scheduling system. Choose your preferred doctor, date, and time instantly.
      </p>
    </div>

    <div class="box" data-aos="zoom-in" data-aos-delay="200">
      <img src="assets/services-2.webp" alt="">
      <h3>Cosmetic Dental Filling</h3>
      <p>
        Restore your tooth’s natural appearance with aesthetic, durable cosmetic
        fillings designed to blend perfectly with your smile.
      </p>
    </div>

    <div class="box" data-aos="zoom-in" data-aos-delay="300">
     <img src="assets/services-3.webp" alt="">
      <h3>Oral Hygiene & Cleaning</h3>
      <p>
        Professional dental cleaning performed by hygiene experts to prevent
        cavities, remove plaque, and maintain long-term oral health.
      </p>
    </div>

  </div>

</section>
