<section class="pricing" id="pricing">

    <h1 class="heading">pricing plan</h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">basic</h3>
            <div class="price">
                <span class="currency">$</span>
                <span class="amount">18</span>
                <span class="duration"> /year</span>
            </div>
            <ul>
                <li> <i class="fas fa-check"></i> alignment specialist</li>
                <li> <i class="fas fa-check"></i> cavity inspection</li>
                <li> <i class="fas fa-check"></i> cosmetic dentistry</li>
                <li> <i class="fas fa-check"></i> oral hygiene experts</li>
            </ul>
            <a href="#" class="btn">read more </a>
        </div>

        <div class="box active">
            <h3 class="title">standard</h3>
            <div class="price">
                <span class="currency">$</span>
                <span class="amount">30</span>
                <span class="duration"> /year</span>
            </div>
            <ul>
                <li> <i class="fas fa-check"></i> alignment specialist</li>
                <li> <i class="fas fa-check"></i> cavity inspection</li>
                <li> <i class="fas fa-check"></i> cosmetic dentistry</li>
                <li> <i class="fas fa-check"></i> oral hygiene experts</li>
            </ul>
            <a href="#" class="btn">read more </a>
        </div>

        <div class="box">
            <h3 class="title">premium</h3>
            <div class="price">
                <span class="currency">$</span>
                <span class="amount">50</span>
                <span class="duration"> /year</span>
            </div>
            <ul>
                <li> <i class="fas fa-check"></i> alignment specialist</li>
                <li> <i class="fas fa-check"></i> cavity inspection</li>
                <li> <i class="fas fa-check"></i> cosmetic dentistry</li>
                <li> <i class="fas fa-check"></i> oral hygiene experts</li>
            </ul>
            <a href="#" class="btn">read more </a>
        </div>

    </div>

</section>